/*
    This is a simple project for Internet Engineering Course - Spring 2021
    Mid-term Exam.


       _ _    __                  _ _ 
  __ _| (_)  / _| __ _ _ __ __ _ (_|_)
 / _` | | | | |_ / _` | '__/ _` || | |
| (_| | | | |  _| (_| | | | (_| || | |
 \__,_|_|_| |_|  \__,_|_|  \__,_|/ |_|
                               |__/   
*/

/* this rule set background to body */
body {
    background-image: url("img/wallpaper1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

/* this is for flex display */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this rule is for base 2 main divs to be responsive (default is nowrap) */
.wrap-flex-items {
    flex-wrap: wrap;
}

.full-height {
    height: 90vh;
}

/* this rule is for base 2 main divs' background and spaceing */
.base-flex-item {
    background: linear-gradient(rgba(226, 235, 240, .8), rgba(207, 217, 223, .8));
    margin: 20pt;
    padding: 40pt;
    border-radius: 5px;
}

.inline-text {
    display: inline-block;
    margin: auto;
}

#avatar {
    width: 120pt;
    height: 120pt;
}

.info-section {
    margin-right: 10pt;
}

#errorMessage {
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #ff758c, #ff7eb3);
}