/*
    This is a simple project for Internet Engineering Course - Spring 2021
    Mid-term Exam.


       _ _    __                  _ _ 
  __ _| (_)  / _| __ _ _ __ __ _ (_|_)
 / _` | | | | |_ / _` | '__/ _` || | |
| (_| | | | |  _| (_| | | | (_| || | |
 \__,_|_|_| |_|  \__,_|_|  \__,_|/ |_|
                               |__/   
*/

/* this rule set background to body */
body {
    background-image: url("img/wallpaper1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

/* this is for flex display */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this rule is for base 2 main divs to be responsive (default is nowrap) */
.wrap-flex-items {
    flex-wrap: wrap;
}

.full-height {
    height: 90vh;
}

/* this rule is for base 2 main divs' background and spaceing */
.base-flex-item {
    background: linear-gradient(rgba(226, 235, 240, .8), rgba(207, 217, 223, .8));
    margin: 20pt;
    border-radius: 5px;
    position: relative;
}

.large-padding {
    padding: 40pt;
}

.inline-text {
    display: inline-block;
    margin: auto;
}

#avatar {
    width: 120pt;
    height: 120pt;
}

.info-section {
    margin-right: 10pt;
}


#formDimmer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, .75);
    z-index: 999;
    font-size: 25pt;
    color: antiquewhite;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* This is a div that its one border is green and because of its raius property it became a circle  */
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #046b1e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/* because of padding in .general-message rule we set border-box to padding calculated in width and height.  */
#messageBox {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    direction: ltr;
}

.general-message {
    padding: 20px;
    color: white;
    margin-bottom: 15px;

}

.alert {
    background-color: #f44336;
}

.warn {
    background-color: #ff9800;
}

.info {
    background-color: #006ed4;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
}